<!DOCTYPE html>
<html>
<head>
<title>About</title>
</head>
<body>
  <link rel="stylesheet" type="text/css" href="css/card.css">
  <h1 style="color:red;">My Three Fav Fruits Ever</h1>


  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
</style>
</head>
<body>

<h3>Avatar Image</h3>

<img src="pictures/fort.jpeg" alt="Fort" class="fort">


  <h2>Durian</h2>

  <img src = "pictures/pack.jpeg" alt ="pack" width="500" height="377">
   <figcaption>Fig.1 - The durian is the fruit of several tree species belonging to the genus Durio. other people dont eat this because they dont like the smell of it. But for me durian is "HEAVEN" I dont care about its bad smellcoz for me its taste is different from other fruits I've eaten.

   <h2>Banana</h2>

  <img src = "pictures/sag.jpeg" alt ="sag" width="500" height="377">
   <figcaption>Fig.2 - Banana is one of my favorite fruit because aside from its natural benefits it is also very available and affordable it is also nutritious and delicious. It has a  lot of vitamins and minerals which you can attain for good health.

    <h2>Apple</h2>

  <img src = "pictures/app.jpeg" alt ="app" width="500" height="377">
   <figcaption>Fig.2 - Apple is also one of my favorite fruit because aside from its natural benefits it is also very available and affordable it is also nutritious and delicious. It has a  lot of vitamins and minerals which you can attain for good health.

</body>
</html>
