  {% load staticfiles %}
  <!DOCTYPE html>
  <html lang=en>
      <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}" />
      <head>
      <body>
        <!--Navigation-->
<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="#category">Category</a>
  <a href="#status">Status</a>
  <a href="about page.html">About</a>
</div>


  <script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>



          {% block content %}{% endblock content %}
      </body>
  </html>
