  {% load staticfiles %}
  <!DOCTYPE html>
  <html lang=en>
  <meta charset="UTF-8">
          <link rel="stylesheet" type="text/css" href="css/about page.css">

  <body>

           <!-- Navigation -->
<div class="header">
  <h1>Cristy's Travelogue</h1>
</div>

<div class="class">
  <a href="class">Cristy's Travelogue</a>
  <a href="about page.html">About</a>
  <a href="#">Link</a>
</div>

 {% block content %}{% endblock content %}

 <div class="footer">
  <p>Footer</p>
</div>
    </body>
  </html>
