{% extends "base.html" %}
  {% load static %}

  {% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}" />

    <h2>Post Lists</h2>
    {% if object_list %}
        {% for post in object_list %}

          <div class="card">
          <p>Title: {{ post.title }}</p>
            <p>Sub Title: {{ post.sub_title }}</p>
            <div class="lists">
            <img src="{{ post.banner_photo.url }}">
          </div>
            <br>
            <a href='{% url "posts:post_detail" post.title %}' role="button">Read More</a>
          </br>
        </div>
        {% endfor %}
    {% else %}
        <p>No post</p>
    {% endif %}
  {% endblock %}
