{% extends "base.html" %}
{% load static %}


{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}" />


  <h2>Post Lists</h2>
  {% if object_list %}
      {% for post in object_list %}
        <p>Title: {{ post.title }}</p>
          <p>Sub Title: {{ post.sub_Title }}</p>
          <img src="{{ post.banner_Photo.url }}">
          <br>
          <a href='{% url "blog:post_detail" post.id %}' role="button">Post Details</a>
        </br>

      {% endfor %}
  {% else %}
      <p>No post</p>
  {% endif %}
{% endblock %}
