{% load static %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}"/>


    <div class="header">
    <h1>Cristy's Travelogue</h1>
    <h5>MUSIC, LIFESTYLE & TRAVEL BLOG</h5>
  </div>

  <h2>Post Detail</h2>

          <div class="card">
          <p>Category: {{ post.category }}</p>
          <p><small>Posted on: {{ post.date_created }}</small></p>
          <h3 class="heading">Heading: {{ post.blog.heading }}</h3>
          <h3 class="sub_heading">Sub Heading: {{ post.blog.sub_heading }}</h3>
          <div class="lists">
          <img src="{{ post.banner_photo.url }}">
        </div>
          <p>Body: {{ post.body }}</p>
       </div>
       <div class="card">
  <h6>commments :</h6>
 {% for comment in comment %}
   <h6>{{comment.author}}</h6>
   <h6>{{ comment.content }}</h6>
   <small>{{ comment.date_created  }}</small>
   <hr>
     {% endfor %}
     <a href="{% url 'posts:post-comment' post.id %}">Comment</a>
{% endblock %}
