{% load static %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}"/>


    <div class="header">
    <h1>Cristy's Travelogue</h1>
    <h5>MUSIC, LIFESTYLE & TRAVEL BLOG</h5>
  </div>

  <h2>Post Detail</h2>

          <div class="card">
          <p>Category: {{ post.category }}</p>
          <p><small>Posted on: {{ post.date_created }}</small></p>
          <h3 class="heading">Heading: {{ post.blog.heading }}</h3>
          <h3 class="sub_heading">Sub Heading: {{ post.blog.sub_heading }}</h3>
          <div class="lists">
          <img src="{{ post.banner_photo.url }}">
        </div>
          <p>Body: {{ post.body }}</p>
       </div>
       <div class="card">
  <p>commments :</p>
 {% for comment in comment %}
   <p>{{comment.author}}</p>
   <p>{{ comment.text }}</p>
   <small>{{ comment.date_created  }}</small>
   <hr>
     {% endfor %}
{% endblock %}
