body{
  background:url(img/pa.jpg);
  background-repeat: no-repeat;
  background-size: 1400px;
}
.card{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   max-width: 320px;
   margin:auto;
   transition: 0.3s;
   border-radius: 50px;
   padding-left: 20px;
   padding-bottom:20px;
   background:url("img/gal.jpg");
   background-size: 1000px;
   background-repeat: no-repeat;
   border-style: ridge;
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
}
.p{
   font-family: "Times New Roman", Times, serif;
   font-size: 16.5px;
}
.heading{
   letter-spacing: 3px;
   text-transform: uppercase;
   color: #1C9487
;
   font-weight: 400;
   line-height: 1.4em;
   transition: .25s;
   text-align: center;
   margin-bottom: 0px;
}
.sub_heading{
   letter-spacing: 3px;
   text-transform: uppercase;
   color: #1C9487
;
   font-weight: 400;
   line-height: 1.4em;
   transition: .25s;
   text-align: center;
   margin-bottom: 0px;
}
.tags{
   display: inline-block;
   padding: 0.25em 0.4em;
   font-size: 75%;
   font-weight: 700;
   line-height: 1;
   text-align: center;
   white-space: nowrap;
   vertical-align: baseline;
   border-radius: 0;
}
img{
   width: 250px;
   height: auto;
   float: center;
}
.class {
   text-align: center;
  font-family: "Courier Header", serif;
  font-family: extra bolder;
  font-family: cursive;
  font-weight: bolder;
  font-size: 30px;
  font-stretch: ultra-expanded;
}
button{
  margin-left: 100px;
  size: 100%;
}
p{
  font-size: smaller;
  color: #090101;
  margin-left: 20px;
}
.helptext{
  color: red;
  font-size: 0px;
}
